<% layout("/layouts/boilerplate") %>

<div class="row mt-1">
    <div class="col-8 offset-2">
        <body>
            <br><br>
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Category</label>
                    <div class="category-box">
                        <div class="d-flex gap-2">
                            <input type="radio" class="btn-check" name="listing[category]" id="rooms" value="rooms" required>
                            <label class="btn category-btn" for="rooms">Rooms</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="cities" value="cities">
                            <label class="btn category-btn" for="cities">Cities</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="mountains" value="mountains">
                            <label class="btn category-btn" for="mountains">Mountains</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="castles" value="castles">
                            <label class="btn category-btn" for="castles">Castles</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="pools" value="pools">
                            <label class="btn category-btn" for="pools">Pools</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="camping" value="camping">
                            <label class="btn category-btn" for="camping">Camping</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="farms" value="farms">
                            <label class="btn category-btn" for="farms">Farms</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="arctic" value="arctic">
                            <label class="btn category-btn" for="arctic">Arctic</label>

                            <input type="radio" class="btn-check" name="listing[category]" id="luxury" value="luxury">
                            <label class="btn category-btn" for="luxury">Luxury</label>
                        </div>
                    </div>
                    <div class="invalid-feedback">Please select a category</div>
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input name="listing[image]" type="file" class="form-control" required> 
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="enter price" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>

                <button class="btn btn-dark add-btn mt-3 mb-4">Add</button>
            </form>
        </body>
    </div>
</div>