<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wanderlust</title>
    <link rel="icon" type="image/png" href="/Wanderlust-Favicon.png">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>

<section class="hero">

    <!-- LEFT CONTENT -->
    <div class="hero-text">
        <h1>Discover Your Next Stay</h1>

        <p>
            Explore unique homes, cozy apartments, and luxury stays 
            across the world with Wanderlust.
        </p>

        <a href="/listings" class="btn-explore">
            Explore Listings →
        </a>
    </div>

    <!-- RIGHT IMAGE -->
    <div class="hero-image">
        <img src="/landing-page.png" alt="travel">
    </div>

</section>

</body>
</html>