body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column ;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem ;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* Edit Page */

.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* Show Page */

.show-img{
    width: 100%;
    height: 350px;
    object-fit: contain;
    border-radius: 16px;
}


.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */
/* map */
#map {
    height: 400px;
    width: 100%;        /* same width as image/card */
    border-radius: 10px;
    margin: 0 auto;
}

/* marker */
.airbnb-marker {
    position: relative;
    width: 40px;
    height: 40px;
    background: #ff385c;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.35);
    transition: all 0.25s ease;
}

/* icon inside */
.airbnb-marker i {
    transform: rotate(45deg);
    color: white;
    font-size: 16px;
}

/* hover animation */
.airbnb-marker:hover {
    transform: rotate(-45deg) scale(1.15);
    box-shadow: 0 10px 25px rgba(0,0,0,0.45);
}
.airbnb-marker {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%,100% { transform: rotate(-45deg) translateY(0); }
    50% { transform: rotate(-45deg) translateY(-5px); }
}

/* pop-up */
/* POPUP CARD */
.popup-card{
    width:200px;
    text-align:center;
    font-family:sans-serif;
}

.popup-card img{
    width:100%;
    height:120px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:8px;
}

.popup-card h3{
    margin:5px 0;
    font-size:16px;
}

.popup-card p{
    margin:0;
    color:gray;
    font-size:14px;
}

.popup-card span{
    font-weight:bold;
    color:#ff385c;
}

/* index.ejs - filters */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    color: black;
}

.filter:hover{
    opacity: 1 ;
    cursor: pointer;
}

.filter p{
    font-size : 0.8rem;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.tax-info{
    display : none;
}

.tax-toggle{
    border: 1.5px solid black;
    border-radius: 1rem;
    height: 2.75rem;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.no-results-card {
    max-width: 500px;
    margin: auto;
    margin-top: 3rem;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    animation: fadeIn 0.4s ease-in-out;
    }

    @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.active-filter {
    border-bottom: 2px solid #fe424d;
    transform: scale(1.05);
}

/* navbar.ejs */
.search-btn{
    background-color: #fe424d;
    color: #ffffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}
.search-btn:hover{
    background-color: #fe424d;
    color:#ffffff
}
.search-btn i {
    display: inline;    
    margin-right: 0.5rem;
}
.search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

/* categories */
.category-btn {
    border: 1px solid black;
    border-radius: 15px;
}

.category-box {
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
}

/* keep everything in one line */
.category-box .d-flex {
    flex-wrap: nowrap;
}

/* prevent buttons from shrinking */
.category-box .btn {
    flex: 0 0 auto;
}

/* hide scrollbar */
.category-box::-webkit-scrollbar {
    display: none;
}

/* validation red border */
.was-validated .category-box:has(input:invalid) {
    border: 1px solid #dc3545;
}

.btn-check:checked + .category-btn {
    border: 1px solid #fe424d !important;
    background-color: #fe424d;
    color: white;
}

/* badge */
.badge {
    background-color: #fe424d;
    padding: 8px 14px;  
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 999px;
    /* background: rgba(0, 0, 0, 0.6);   */
    color: white;
    backdrop-filter: blur(6px);     
    transition: all 0.2s ease;;
}

.badge:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    opacity: 0.9;
}


/* wishlist icon */
.listing-card {
    position: relative;
}

.listing-card-wrapper {
    position: relative;  /* ADD THIS */
}

.wishlist-icon, .remove-wishlist {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
    z-index: 999;
}

.listing-card-wrapper .listing-link {
    position: relative;
    z-index: 1;
}

.listing-card-wrapper .remove-wishlist {
    z-index: 9999;
}

.wishlist-icon.active {
    color: #ff385c;
    transform: scale(1.2);
}